
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    var listDistrist = ViewBag.listDistrist;
    var listGatype = ViewBag.listGasType;
}

@using System.Web.Optimization


@Html.AntiForgeryToken()

<h2 class="text-center mb-5">ガソリンスタンド一覧</h2>


<div class="group-data">

    @* Begin filter *@
    <div class="card mb-0 pb-0">
        <div class="card-header">
            Filter
        </div>
        <div class="card-body">
            <div class="px-lg-5">
                <div class="form-group d-flex">
                    <label for="input-name-gas" class="w-25">ガソリンスタンド名: </label>
                    <input type="text" class="form-control w-100" id="input-name-gas" placeholder="Enter name gas station ...">
                </div>
                <div class="form-group d-flex">
                    <label class="w-25">種類:  </label>
                    <div class="w-100">
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" name="selectTypeGas" id="selectAll" value="" checked>
                            <label class="form-check-label" for="selectAll">
                                All
                            </label>
                        </div>
                        @foreach (var item in listGatype)
                        {
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="selectTypeGas" id=@item.TypeText value=@item.TypeCode>
                                <label class="form-check-label" for="@item.TypeText">
                                    @item.TypeText
                                </label>
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group d-flex">
                    <label class="w-25" for="selectDistrict">地区: </label>
                    <select class="form-control w-100" id="selectDistrict">
                        <option value="">Không chọn</option>
                        @foreach (var item in listDistrist)
                        {
                            <option value="@item.DistrictId">@item.DistrictName</option>
                        }

                    </select>
                </div>

            </div>
            <div class="w-100 text-center">
                <button class="btn btn-primary w-25" id="search-with-query">検索</button>
            </div>
        </div>
    </div>
    @* End filter *@

    @* Begin table *@
    <div class="container_table_gas">
        @*Begin Form show gas station*@
        <table class="table table-hover bg-white table-bordered">
            <thead class="bg-light text-center">
                <tr>
                    <th scope="col">ガソリンスタンド名</th>
                    <th scope="col">種類</th>
                    <th scope="col">地区</th>
                    <th scope="col">　Longitude, Latitude</th>
                    <th scope="col">　評価</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            <tbody class="body-table">
                @* javascript will process *@
            </tbody>
        </table>
        @*End Form show gas station*@


    </div>

</div>




@section PageScript {

    @Scripts.Render("~/content/HomeControler")

}
@section PageStyle {
    @Styles.Render("~/content/HomeCSS")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSxLoeVH330_x1JYvbWXnNmGFAKFKOPeE"
            async defer></script>
}
